* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* starrt nav */
.one {
    height: 100px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* padding-left: 8rem; */
}

/* End nav */
.background-clip {
    color: transparent;
    background-image: url(1080x1080.webp);
    -webkit-background-clip: text;
    background-clip: text;
    /* background-position: center; */
    background-size: cover;
    font-size: 48px;
}
.two{
    display: none;
}
@media (max-width:1322px) {
    .one {
        height: 100px;
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        /* padding-left: 8rem; */
    }
    
    .background-clip {
        color: transparent;
        background-image: url(1080x1080.webp);
        -webkit-background-clip: text;
        background-clip: text;
        /* background-position: center; */
        background-size: cover;
        font-size: 40px;
    }
    .en-svg>h1{
        font-size: 16px;
    }
}
@media (max-width:1315px) {
    .one {
        height: 100px;
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        gap: 1rem;
        padding: 1rem;
        /* padding-left: 8rem; */
    }

}   
@media (max-width:1237px) {

    .background-clip {
        color: transparent;
        background-image: url(1080x1080.webp);
        -webkit-background-clip: text;
        background-clip: text;
        /* background-position: center; */
        background-size: cover;
        font-size: 30px;
    }
    .one {
        height: 80px;
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        gap: 1rem;
        padding: 2rem;
        /* padding-left: 8rem; */
    } 
}
.important {
    position: relative;
    background-color: #c33c3c;
    flex-shrink: 5;
    padding-left: 2rem;
    width: 450px;
    height: 50px;
    border-radius: 3rem;
}


.iphone-pro {
    position: absolute;
    border: none;
    padding-left: 2rem;
    top: 0px;
    border-radius: 3rem;
    flex-shrink: 5;
    z-index: 2;
    right: 0%;
    width: 450px;
    height: 50px;
}

.search-icon-1 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    z-index: 3;
    right: 20px;
}

.input-display {
    display: none;
}
@media (max-width:1237px) {

    .important {
        position: relative;
        background-color: #c33c3c;
        /* flex-shrink: 5; */
        /* padding-left: 2rem; */
        width: 350px;
        height: 30px;
        border-radius: 3rem;
    }
    .iphone-pro {
        position: absolute;
        border: none;
        padding-left: 2rem;
        top: 0;
        border-radius: 3rem;
        flex-shrink: 5;
        z-index: 2;
        right: 0%;
        width: 350px;
        height: 30px;
    }
    .search-icon-1 {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 5px;
        /* right: 20px; */
        z-index: 3;
        right:15px;
    }
    
    .one {
        height: 60px;
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        /* padding-left: 8rem; */
    } 
}
.important:hover+.input-display {
    top: 130px;
    height: 500px;
    position: absolute;
    z-index: 9;
    padding: 1rem;
    background-color: #ada4a4;
    width: 550px;
    display: flex;
    justify-content: space-around;
    border-radius: 2rem;
}

/* input display */
.discover-box>h1 {
    margin-right: 2rem;
    font-size: 16px;
}

.other-recommendations>h1 {
    font-weight: 100;
}

/* input display */
.discover-box {
    height: 330px;
    overflow-y: scroll;
    display: grid;
    gap: 1rem;
}

.other-1 {
    margin-top: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.scan-svg>p {
    color: #fff;
    /* max-width: 5cm; */
}

.scan-svg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 40px; */
    width: 150px;
    /* background-color: plum; */
}

.js-code {
    display: none;
}

.scan-svg:hover+.js-code {
    position: absolute;
    width: 650px;
    padding: 0rem 0rem;
    border-radius: 3rem;
    background-color: #ccc;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qr-box-2 {
    display: grid;
    gap: 1rem;
}

.qr-box-2>h1 {
    font-size: 28px;
}

.qr-box-2>p {
    font-size: 20px;
    color: rgb(134, 134, 142);
}

.display-inline {
    display: flex;
}

.apple-logo,
.google-play {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    padding: 0rem 1rem;
    background-color: aqua;
}

.google-play {
    margin: 0rem 1rem;
}

.apple-logo>ion-icon {
    font-size: 3rem;
}

.apple-logo>a {
    color: #000;
    font-size: 1.3rem;
}

.google-play>ion-icon {
    font-size: 2.2rem;
}

.google-play>a {
    color: #000;
    font-size: 1.3rem;
}

.nigeria[type=checkbox] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    cursor: pointer;
    /* width: 300px; */
}
.country{
    position: relative;
}
.nigeria[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 120px;
    height: 50px;
    top: 0;
    left: 0;
    border: 2px solid #000000;
    border-radius: 3px;
    background-color: white;
}

.nigeria[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 70px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 2px;
    left: 6px;
}
.nigerian-absolute {
    position: relative;
    height: 50px;
    width: 120px;
    /* background-color: #ff0000; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.en-svg>p {
    font-size: 15px;
    color: #fff;
}

.en-svg>h1 {
    font-size: 17px;
    color: #fff;
}
.display-countries{
    display: none;
}
.nigeria:checked ~ .display-countries{
    display: block;
    width: 400px;
    height: 450px;
    border: 1px solid rgb(209, 209, 209);
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 2rem;
    position: absolute;
    top: 80px;
    right: 1rem;
}

.check-country {
    width: 100%;
    top: 0px;
    position: absolute;
}

.check-country-display {
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 50px;
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
}

.ship-to>h1 {
    font-size: 2rem;
}

.incase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.incase>img {
    height: 30px;
    width: 30px;
}

.incase>input {
    padding: 6px;
    border: none;
    font-size: 1.6rem;
    width: 170px;
}

.a[type=checkbox] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    cursor: pointer;
    /* width: 300px; */
}

.a[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 350px;
    height: 49px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}

.a[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 70px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 2px;
    left: 6px;
}
.list {
    display: none;
}

.a:checked~.list {
    padding: 1rem 1rem;
    background-color: #fff;
    display: grid;
    z-index: 10;
    border: 1px solid gray;
    gap: 1rem;
    position: absolute;
    top: 55px;
    width: 100%;
    height: 400px;
    text-align: justify;
    scrollbar-width: 20px;
    overflow-y: scroll;
}

.list>input {
    height: 50px;
    width: 100%;
}

.list>ul>li {
    font-size: 1.6rem;
}

.check-language {
    position: relative;
    top: 80px;
}

.incase-2 {
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 50px;
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
}

.incase-2>input {
    padding: 6px;
    border: none;
    font-size: 1.6rem;
    width: 170px;
}

.language {
    display: none;
}

.l:checked~.language {
    position: absolute;
    display: block;
    top: 100px;
    border-radius: 15px;
    width: 350px;
    background-color: #fff;
    height: 150px;
    text-align: justify;
    padding: 1rem 1rem;
    z-index: 10;
    border: 1px solid gray;
    gap: 1rem;
}

.language>input {
    height: 50px;
    padding: 2rem;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    width: 100%;
}

.language>p {
    position: absolute;
    bottom: 20px;
    font-size: 30px;
}

.l[type=checkbox] {
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    z-index: 5;
    cursor: pointer;
    /* width: 300px; */
}

.l[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 350px;
    height: 49px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}

.l[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 70px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 2px;
    left: 6px;
}

.e[type=checkbox] {
    opacity: 0;
    position: absolute;
    top: 38px;
    left: 0;
    bottom: 0;
    z-index: 5;
    cursor: pointer;
    /* width: 300px; */
}

.e[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 350px;
    height: 49px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}

.e[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 70px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 2px;
    left: 6px;
}

.currency-label {
    position: relative;
    top: 180px;
}

.incase-3 {
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 50px;
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
}
.incase-3>input {
    padding: 6px;
    border: none;
    font-size: 1.4rem;
    width: 170px;
}
.euro{
    display: none;
}
.e:checked~.euro{
    display: grid;
    position: absolute;
    top: 100px;
    border-radius: 15px;
    width: 350px;
    background-color: #fff;
    height: 250px;
    text-align: justify;
    padding: 1rem 1rem;
    z-index: 10;
    border: 1px solid gray;
    gap: 1rem;
}
.euro>input{
    /* height: 30px; */
    padding: 1rem;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    width: 100%;
}
.save>a{
    color: #fff;
    padding: 1rem 9.7rem;
    position: relative;
    display: inline;
    top: 300px;
    border-radius: 3rem;
    background-color: #000000;
}
.value{
    width: 100%;
    /* background-color: #000; */
    justify-content: center;
    align-items: center;
    display: flex;
}
.value-for-money{
    width: 80%;
    /* height: 200px; */
    /* background-color: #c33c3c; */
}
.value-for-money>img{
    /* object-fit: contain; */
    width: 100%;
}
.hero{
    width: 80%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 100px 100px; */
    grid-template-areas:
    'hero1 hero2 hero3 hero3 hero3 '
    'hero4 hero2 hero3 hero3 hero3 '
    'hero4 hero2 hero5 hero5 hero5 '
    ;
}
.grid{
    padding: 10px;
}
header{
    grid-area: hero1;
    background-color: red;
}
main{
    grid-area: hero2;
    background-color: green;
}
aside{
    grid-area: hero3;
    background-color:#555555;
}
/* nav{
    grid-area: hero4;
    background-color: cornflowerblue;
} */
footer{
    grid-area: hero5;
    background-color: yellow;
}
.icon[type=checkbox] {
    opacity: 0;
    position: relative;
    top: 0;
    left: 15px;
    bottom: 0;
    z-index: 5;
    /* align-items: center; */
    /* justify-content: center; */
    /* display: flex; */
    cursor: pointer;
    /* width: 300px; */
}

.icon[type=checkbox]:before {
    content: "";
    display: block;
    position: relative;
    width: 200px;
    height: 49px;
    top: 0;
    left: 0px;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}

.icon[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 2px;
    left: 6px;
}
.contact-icon{
    display: block;
    position: relative;
}
.contact-svg{
    justify-content: center;
    /* align-items: center; */
    display: flex;
   
}
.contact-svg>ion-icon{
    color: #fff;
}
.hover-icon{
    display: none;
    max-height: 400px;
    overflow-y: hidden;
    overflow-y: scroll;
}
.icon:checked~.hover-icon{
    display: grid;
    background-color: white;
    border:  1px solid gray;
    width: 300px;
    border-radius: .5rem;
    justify-content: space-evenly;
    gap: 2rem;
    position: absolute;
    top: 80px;
}
.welcome>p{
    color: #fff;
    font-size: 10px;
}
.welcome>h3{
    color: #fff;
    font-size: 15px;
    
}
.contact-svg{
    width: 170px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    display:flex;
    /* background-color: #ada4a4; */
}
.contact-svg>ion-icon{
    font-size: 3rem;
}
.p-box, .p-box-2{
    display: grid;
    gap: 1rem;
}
.p-box>p, .p-box-2{
    font-size: 20px;
}
.p-box > p :hover, .p-box-2 > p :hover{
    color: red;
}
.contact-cart>ion-icon{
    color: #fff;
}
.cart-icon{
    display: flex;
    height: 50px;
    align-items: center;
    /* background-color: #fff; */
}
.cart-ion{
    color: #fff;
    font-size: 2rem;
}

.js-number > h1{
    color: #fff;
    font-size: 1rem;
}
.js-number>ion-icon{
    color: #fff;
}

@media (max-width:1078px) {
    .one {
        height: 60px;
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        /* padding-l
        eft: 8rem; */
    } 
    .scan-svg {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* height: 40px; */
        width: 120px;
        /* background-color: plum; */
    }
    .scan-svg img{
        width: 35px;
    }
    .scan-svg>p{
        font-size: 11px;
        max-width: 2cm;
    }
    .en-svg>p{
            font-size: 10px;
            color: #fff;
        }
        
        .en-svg>h1 {
            font-size: 12px;
            color: #fff;
        }
        .contact-svg>ion-icon{
            font-size: 1.5rem;
        }
        .welcome>h3{
            font-size: 12px;
            font-weight: 200;
        }
        .cart-ion{
            font-size: 1.5rem;
        }
        .nigerian-absolute {
            position: relative;
            height: 50px;
            width: 80px;
            /* background-color: #ff0000; */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .contact-svg{
            width: 130px;
            height: 50px;
            align-items: center;
            justify-content: space-between;
            display:flex;
            /* background-color: #ada4a4; */
        }
        .important {
            position: relative;
            background-color: #c33c3c;
            /* flex-shrink: 5; */
            padding-left: 2rem;
            width: 300px;
            height: 30px;
            border-radius: 3rem;
        }
        .iphone-pro {
            position: absolute;
            border: none;
            padding-left: 2rem;
            top: 0px;
            border-radius: 3rem;
            flex-shrink: 5;
            z-index: 2;
            right: 0%;
            width: 300px;
            height: 30px;
        }



}
@media (max-width:967px) {
    .scan-svg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 40px; */
    width: 50px;
    /* background-color: plum; */
}
    .scan-svg>img{
        width: 50px;
    }
    .scan-svg>p{
        display: none;
    }
    .Nigeria-img>img{
        width: 50px;
    }
    .en-svg>p{
        display: none;
    }
    .en-svg>h1{
        display: none;
    }
    .nigeria:checked ~ .display-countries{
    display: block;
    width: 400px;
    height: 450px;
    border: 1px solid rgb(209, 209, 209);
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 2rem;
    position: absolute;
    top: 80px;
    right: 1rem;
}
.nigeria[type=checkbox] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 13px;
    /* bottom: 0; */
    z-index: 5;
    cursor: pointer;
    /* width: 300px; */
}
.country{
    position: relative;
}
.nigeria[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 25px;
    top: 10px;
    left: 0;
    right: 0px;
    border: 2px solid #000000;
    border-radius: 3px;
    background-color: white;
}

.nigeria[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 70px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 2px;
    left: 6px;
}    
.contact-svg>ion-icon{
    color: #fff;
    font-size: 2rem;
}
.contact-svg{
    width: 48px;
    /* height: 50px; */

    /* align-items: center; */
    /* justify-content: space-between; */
    /* display:flex; */
    /* background-color: #ccc; */
}
.welcome{
    display: none;
}
.icon[type=checkbox] {
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left:0px;
    bottom: 0;
    z-index: 5;
    cursor: pointer;
    /* width: 300px; */
}

.icon[type=checkbox]:before {
    content: "";
    display: block;
    position: relative;
    width: 35px;
    /* height: 49px; */
    top: 0;
    left: 0px;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}

.icon[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 2px;
    left: 6px;
}
.cart-ion{
    font-size: 3rem;
}
.js-number{
    display: none;
}

}
@media (max-width:911px) {
    .cart-ion{
        font-size: 2rem;
    }   
    .contact-svg>ion-icon{
        color: floralwhite;
        font-size: 2rem;
    }
    .scan-svg>img{
        width: 2rem;
    }
    .Nigeria-img>img{
        position: relative;
        left: -8px;
        width: 2rem;
    }

    .icon[type=checkbox]:before {
        content: "";
        display: block;
        position: relative;
        width: 1.8rem;
        height: 28px;
        top:8px;
        /* bottom: 0px; */
        left: 0px;
        border: 2px solid #555555;
        border-radius: 3px;
        background-color: white;
    }
    .nigeria[type=checkbox]:before {
        content: "";
        display: block;
        position: relative;
        width: 2rem;
        height: 20px;
        top: 10px;
        /* left: 10px; */
        /* right: 10px; */
        border: 2px solid #000000;
        border-radius: 3px;
        background-color: white;
    }

}



.toggler{
    width: 30px;
    height: 30px;
    /* border-radius: 50%; */
    position: absolute;
      top: 5px;
      left: 10px;
      z-index: 3;
      opacity: 0; 
    }
    .menu-1{
    background-color: black; 
        width: 30px;
      height: 30px;
      /* z-index: 300; */
      border-radius: 50%;
      display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    left: .7rem;
    }
    .menu-1>div{
        background-color: rgb(244, 58, 58);
        width:70% ;
        height: 2px;
        left: 0px;
        position: relative;  
    }
    .menu-1>div::after{
        /* background-color: red; */
        width:100% ;
        top: -8px;
        height: 2px;
        background-color: rgb(255, 49, 49);
        content: '';
        position: absolute;
        left: 0;
    }
    .menu-1>div::before{
        /* background-color: red; */
        width:100% ;
        top: 8px;
        height: 2px;
        background-color: rgb(255, 255, 255);
        content: '';
        position: absolute;
    }
    .toggler:checked +  .menu-1 > div{
        transform: rotate(360deg);
        transition: all 1.5s;
    }
    .toggler:checked + .menu-1 > div::after,
    .toggler:checked + .menu-1 > div::before{
       width: 50%;
    }
    .red-background{
        width: 150px;
        /* height: 70px; */
        position: relative;
        /* background-color: #555555; */
        /* justify-content: space-between;
        align-items: center;
        display: flex; */
    }
    .nav-box-1{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .red-background > h1{
        position: absolute;
        right: 0;
        top: 5px;
        z-index: 1;
        color: red;
    }
    .contact-cart>ion-icon{
        color: #000;
        font-size: 2rem;
    }
    
    .header{
        /* text-align: center; */
        /* padding-left: 2rem; */
        font-size: 1.6rem;
    }
    .popular-header p>img{
        height: 40px;
        width: 50px;
    }
    .div{
        background-color: gray;
        width: 100%;
        height: 2px;
    }
    .shopping p>img{
        height: 40px;
        width: 50px;
    }
    .shopping>h1{
        padding-bottom: 2rem;
    }
    .popular-header>p{
        /* justify-content:center; */
        /* align-items: center; */
        display: flex;
    }
    .popular-header{
        display: grid;
        gap: .5rem;
    }
    .popular-header>p{
        font-size: 20px;
    }
    .shopping>p{
        font-size: 20px;
    }
    .popular-category{
        display: none;
        /* transform: translateX(-50%); */
    }
    .toggler:checked ~.popular-category{
        position: absolute;
        top: 35px;
        display: grid;
        gap: 2rem;
        padding: 1rem 2rem;
        background-color: #ffffff;
        overflow-y: scroll;
        height: 100vh;
        /* transform: translateX(0%); */
        transition: all 0.5s;
        z-index: 30;
        /* z-index: 30; */
        width: 300px;
    }
    .coin-games{
        display: none;
    }
    .three{
        display: none;
    }
    .location{
        display: none;
    }
    @media (max-width:791px) {
        .one{
            display: none;
        }

        .value{
            display: none;
        }
    .two{
        /* display: block; */
        /* height: 50px; */
        position: relative;
        width: 100%;
        /* padding: 1rem; */
        /* background-color: thistle; */
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    .three{
        width: 100%;
        padding: .5rem;
        justify-content: center;
        align-items: center;
        display: flex;
        /* background-color: #555555; */
    }
    #three{
        padding: .5rem;
        border-radius: 3rem;
        width: 99%;
    }
    .location{
        width: 100%;
        padding: .5rem;
        justify-content: center;
        align-items: center;
        display: block;
    }
    .coin-games{
        height: 150px;
        /* background-color: #555555; */
        justify-content: space-around;
        align-items: center;
        display: flex;

    }
    .coin>img, .superdeals>img, .games>img, .plus>img{
        width: 100px;
        height: 100px;
    }
    .coin>img:hover, .superdeals>img:hover, .games>img:hover, .plus>img:hover{
        transform: scale(1.2);
        transition: all 1s ease;
    }



    }